// Copyright (c) 2018 Tildes contributors <code@tildes.net>
// SPDX-License-Identifier: AGPL-3.0-or-later

.btn {
  @include min-touch-size;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 0.6rem;
  font-weight: bold;
}

.btn.btn-sm {
  font-size: 0.6rem;
}

.btn-link-minimal {
  display: inline;
  height: auto;
  width: auto;
  padding: 0;
  border: 0;
  font-weight: normal;

  @media (min-width: $size-md) {
    min-height: 0;
  }
}

.btn-comment-collapse {
  @include min-touch-size;

  height: 100%;
  line-height: 100%;
  padding: 0;

  font-weight: normal;

  margin-right: 0.4rem;
  @media (min-width: $size-md) {
    margin-right: 0.2rem;
    min-width: 0.8rem;
  }
}

.btn-comment-label {
  @include min-touch-size;

  display: inline-flex;
  align-items: center;
  margin: 0 0.4rem;
  padding: 0.2rem;

  font-size: 0.6rem;
  font-weight: bold;
  text-transform: capitalize;

  cursor: pointer;

  &.btn {
    height: 1rem;
    text-transform: capitalize;
  }

  &.btn-used {
    border: 1px solid;
  }
}
