// Copyright (c) 2018 Tildes contributors <code@tildes.net>
// SPDX-License-Identifier: AGPL-3.0-or-later

.tab-listing-order {
  flex-wrap: nowrap;
  padding-left: 0;
  margin-top: 0;

  justify-content: space-around;

  font-size: 0.6rem;

  // have the tabs span the full width at small sizes
  width: 100%;
  @media (min-width: $size-md) {
    width: auto;
  }

  .tab-item {
    white-space: nowrap;

    a {
      margin-right: 0;
      @media (min-width: $size-md) {
        margin-right: 1rem;
      }
    }

    &:last-child a {
      margin-right: 0;
    }
  }
}
